<!-- BEGIN: Main Menu-->

{{#if user.id}}

<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto"><a class="navbar-brand" href="/">
                    <!--<div class="brand-logo"></div>-->
                  <img style="    position: absolute; margin-left: 15px; left: 0px; margin-top: 10px;" src="/logo_2x.png" alt="SOS" width="50" height="50">
                    <!--<h2 class="brand-text mb-0">{{global_empresa}}</h2> -->
                </a></li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary" data-ticon="icon-disc"></i></a></li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="nav-item"><a href="/"><i class="feather icon-home"></i><span class="menu-title" data-i18n="Dashboard">Inicio</span></a>

            </li>

            {{#compare user.es_entrenador 1}}
            <li class="nav-item"><a href="/links/perfil_entrenador"><i class="feather icon-user"></i><span class="menu-title" data-i18n="Perfil">Mi perfil</span></a>

            </li>
            {{/compare}}

            <li class=" navigation-header"><span>Aulas</span>
            </li>

            <li class=" nav-item"><a href="/links/iniciar_aula"><i class="feather icon-check-square"></i><span class="menu-title" data-i18n="Email">Iniciar Aula</span></a>
            </li>

            {{#compare user.realizar_solicitudes "1"}}
            <li class=" navigation-header"><span>Solicitudes</span>
            </li>

            <li class=" nav-item"><a href="/links/estudios_antecedentes"><i class="feather icon-check-square"></i><span class="menu-title" data-i18n="Email">Antecedetes</span></a>
            </li>

            <li class=" nav-item"><a href="/links/estudios_hv"><i class="feather icon-layout"></i><span class="menu-title" data-i18n="Chat">Hojas de vida</span></a>
            </li>

            <li class=" nav-item"><a href="/links/estudios_visitas"><i class="feather icon-user"></i><span class="menu-title" data-i18n="Todo">Visitas domiciliarias</span></a>
            </li>

            <li class=" nav-item"><a href="/links/estudios_esp"><i class="feather icon-box"></i><span class="menu-title" data-i18n="Calender">ESP</span></a>
            </li>

            <li class=" nav-item"><a href="/links/estudios_poligrafia"><i class="feather icon-activity"></i><span class="menu-title" >Poligrafías</span></a>
            </li>

            {{/compare}}



          {{#compare user.admin_cuenta "1"}}
            <li class=" navigation-header"><span>Gestión de cuenta</span>
            </li>
            <li class=" nav-item"><a href="/links/gestion_cuenta"><i class="feather icon-droplet"></i><span class="menu-title" data-i18n="Colors">Usuarios</span></a>
            </li>
          {{/compare}}
          {{#compare user.admin "1"}}
            <li class=" navigation-header"><span>Administracion</span>
            </li>
            <li class=" nav-item"><a href="/links/gestion_usuarios"><i class="feather icon-droplet"></i><span class="menu-title" data-i18n="Colors">Usuarios</span></a>
            </li>
            <li class="nav-item"><a href="/links/gestion_usuarios"><i class="feather icon-eye-off"></i><span class="menu-title" data-i18n="Disabled Menu">Cuentas</span></a>
            </li>
          {{/compare}}


        </ul>
    </div>
</div>


{{/if}}
<!-- END: Main Menu-->
